{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="\{{ product.product_image }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ product.category }}</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">{{ product.condition }}</span>
              </a>
              <a href="">
                <span class="badge red mr-1">{{ product.brand }}</span>
              </a>
            </div>

            <p class="lead">
              <span class="mr-1">
                <del>${{ product.selling_price }}</del>
              </span>
              <span>${{ product.discounted_price }}</span>
            </p>

            <p class="lead font-weight-bold">{{ product.title }}</p>

            <p>{{ product.details }}</p>

            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Special Products</h4>

          <p>these products are our latest and very good collection so also check this if you are interested</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        {% for data in products%}
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="/{{ data.product_image }}" class="card-img-top"
                  alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="/singleproduct/{{data.id}}" class="grey-text">
                  <h5>{{ data.title }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="" class="dark-grey-text">{{ data.description }}
                      <span class="badge badge-pill danger-color">{{ data.category }}</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>{{ data.selling_price }}$</strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->
        {% endfor %}

     

       

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
{% endblock content %}